* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("/assets/fonts/Inter-ExtraBold.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: ltr;
  scroll-behavior: smooth;
}
body {
  @apply text-[#666] bg-white dark:bg-slate-900 dark:text-[#888];
  font-family: "Inter";
}
html.dark {
  color-scheme: dark;
}
.form_wrapper {
  > div {
    @apply relative;
  }
  .form_label {
    @apply absolute top-2 left-4 text-sm font-semibold text-black dark:text-white mb-2.5 transition-all;
  }
  .form_input {
    @apply block w-full rounded-md px-3.5 py-2 shadow-sm sm:text-sm
    bg-transparent focus:outline-none border border-gray-300 
    dark:border-slate-500 text-black dark:text-white;
    &:focus,
    &:not(:placeholder-shown) {
      + label {
        @apply -top-2 left-1 text-xs bg-white dark:bg-slate-900 px-2;
      }
    }
    &.invalid {
      @apply border-red-500;
    }
  }
  .error_message {
    @apply text-xs text-red-500 mt-1;
  }
  textarea {
    resize: none;
  }
}

.swiper {
  @apply w-[240px] h-[320px] select-none;
  .swiper-slide {
    @apply flex text-slate-700 dark:text-slate-200 bg-slate-100 dark:bg-slate-700 items-center justify-center rounded-2xl p-3;
  }
}
