.view_box {
  @apply relative list-none mb-16 mt-10 lg:mt-0 ml-16;
  transform: skewY(-15deg);
  li {
    @apply relative w-[150px] p-4 transition-all duration-500 text-center;
    z-index: calc(1 * var(--i));
    &::before {
      @apply content-[""] absolute top-0 h-full w-[40px];
      background: inherit;
      transition: inherit;
      left: -40px;
      filter: brightness(0.7);
      transform-origin: right;
      transform: skewY(45deg);
    }
    &::after {
      content: "";
      @apply content-[""] absolute left-0 w-full h-[40px];
      background: inherit;
      transition: inherit;
      top: -40px;
      filter: brightness(0.9);
      transform-origin: bottom;
      transform: skewX(45deg);
    }
    &:hover {
      transform: translateX(-50px);
      &::before {
        filter: brightness(0.7);
      }
      &::after {
        filter: brightness(0.9);
      }
    }
    &:last-child::after {
      box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
    }
    span {
      @apply absolute top-0 w-[40px] h-full flex items-center justify-center;
      left: -40px;
      transform-origin: right;
      transform: skewY(45deg);
    }
  }
}
